body {
    background-color: rgba(255, 255, 255, 0);
    font: normal 12pt Arial;
}

header {
    background-color: rgba(94, 94, 94, 0.1);
    border-radius: 16px;
    padding: 20px;
    width: 550px;
    height: 300px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.486);
    backdrop-filter: blur(16px);
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    position: relative;
    top: 275px;
}

section {
    font: normal 120px Arial;
    font-weight: bold;
    color: white;
    /*padding: 15px;*/
    width: 500px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 40px;
    right: 2px;

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    position: relative;
    top: 425px;

}

swapingimages {
    height: 20px;
    width: 20px;

}